{{!-- this page shows events/parties in community --}}
 {{#if parties.length}}
  <div class="col-md-6 project-list">
    <h3>All Parties:</h3>

    {{#each parties as |party|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/party/{{party.id}}">{{party.name}}{{party.user_id}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{party.id}}">Cancel</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
