{{!-- specific event --}}
{{!-- how can we include the helpers for the format date --}}
<div class="card">
  <div class="card-content">
    <p>This is the name: {{party.name}}</p>
   
    <p>This is the description: {{party.description}}</p>
   
    <p>Created by {{user.name}} on {{ date_created}}</p>
  </div>
    <button>RSVP to this party!</button>
</div>