{{!-- here we must show the parties i created and where i can create a new party event --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


{{!-- have a homepage where my events are and dashboard for community parties --}}

