{{!-- here we must show the parties i created and where i can create a new party event --}}
{{#each parties}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
    <p>{{description}}</p>
    <p>{{party_date}}</p>
  </div>
</div>
{{/each}}

{{!-- have a homepage where my events are and dashboard for community parties --}}

