<div class="row ">
  <form id="login-form">
    <div>
      <div class="field">
        <h2>Login</h2>
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            id="email-login"
            type="email"
            placeholder="Email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            id="password-login"
            type="password"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="login">
            Login
          </button>
        </p>
      </div>
    </div>
  </form>
</div>

<div class="row"></div>
<form id="signup-form">
    <h2>Sign Up</h2>
    <div class="field">
      <label class="label">Enter your name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          id="name-signup"
          placeholder="e.g Alex Smith"
        />
      </div>
      <p class="help">Enter your email and choose a password</p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          id="email-signup"
          type="email"
          placeholder="Email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          id="password-signup"
          type="password"
          placeholder="Password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Sign Up!
        </button>
      </p>
    </div>
 </form>
  </div>

<script src="./js/login.js"></script>