{{!-- login form for users --}}
 <div class="row" id="login-form">
  <form id="login-form">
    <div id="login-form">
      <div class="field">
        <h2 id="login-form">Login</h2>
        <p class="d-flex p-2 bd-highlight">
          <input
            class="input"
            id="email-login"
            type="email"
            placeholder="Email"
          />
        </p>
      </div>
      <div class="field">
        <p class="d-flex p-2 bd-highlight">
          <input
            class="input"
            id="password-login"
            type="password"
            placeholder="Password"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="login">
            Login
          </button>
        </p>
      </div>
    </div>
  </form>
 </div>
{{!-- sign up form for new users --}}
 <div class="row" id="login-form">
  <form id="signup-form">
    <h2 id="login-form">Sign Up</h2>
    <div class="field">
      <label class="label">enter your name</label>
      <div class="d-flex p-2 bd-highlight">
        <input
          class="input"
          type="text"
          id="name-signup"
          placeholder="e.g Alex Smith"
        />
      </div>
      <p class="help">email and password</p>
    </div>
    <div class="field">
      <p class="d-flex p-2 bd-highlight">
        <input
          class="input"
          id="email-signup"
          type="email"
          placeholder="Email"
        />
      </p>
    </div>
    <div class="field">
      <p class="d-flex p-2 bd-highlight">
        <input
          class="input"
          id="password-signup"
          type="password"
          placeholder="Password"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button type="submit" class="signup">
          Sign Up!
        </button>
      </p>
    </div>
  </form>
 </div>

{{!-- links to the login logic --}}
<script src="./js/login.js"></script>