* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 16, 33);
    background-color: rgb(194, 202, 238);
    justify-content: flex-start;
};

 body {
    margin: 0;
    height: 100%;
    background-color: rgb(194, 202, 238);
 };

 main {
    height: 100vh;
 };

.nav {
   text-align: center;
   font-size: 25px;
   font-weight: bold;
};

#login-form {
    margin: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
};

.main-header {
    text-align: center;
    justify-content: center;
};

#party-list-on-form {
    float: right;
};
